node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

/coverage

frontend/node_modules/**/*
frontend/.expo/*
frontend/npm-debug.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision
frontend/*.orig.*
frontend/web-build/

# macOS
frontend/.DS_Store

frontend/coverage

functions/database-debug.log
functions/firebase-debug.log
functions/firestore-debug.log
